* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.home {
    display: flex;
    justify-content: space-around;
    margin-top: 6rem;
}

.jumbotron {
    margin-top: 8rem;
}

.display {
    width: 40%;
}

.col {
    margin: 0.5rem;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.one {
    background-color: #f76e1f;
    border-radius: 100px 0 0 0;
}

.two {
    background-color: #fcea2e;
    border-radius: 0 100px 0 0;
}

.three {
    background-color: blueviolet;
    border-radius: 0 0 0 100px;
}

.four {
    background-color: #2fd8fc;
    border-radius: 0 0 100px 0;
}

p {
    font-size: 20px;
}

span {
    color: #f76e1f;
}

h1 {
    color: blueviolet;
}

a {
    text-decoration: none;
}

.btn {
    border-radius: 30px;
    border: none;
    background: rgb(247, 110, 31);
    background: linear-gradient(90deg, rgba(247, 110, 31, 1) 0%, rgba(247, 110, 31, 1) 37%, rgba(252, 234, 46, 1) 62%, rgba(252, 234, 46, 1) 100%);
}

.sign {
    border-bottom: 20px solid #fcea2e;
    border-top: 20px solid blueviolet;
    border-left: 20px solid #f76e1f;
    border-right: 20px solid #2fd8fc;
    margin-top: 4rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;
    padding: 0 40px;
    box-sizing: border-box;
}

.form-group {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.form-group input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.pitches {
    border-bottom: 20px solid #fcea2e;
    border-top: 20px solid blueviolet;
    border-left: 20px solid #f76e1f;
    border-right: 20px solid #2fd8fc;
    margin-top: 4rem;
}

.nav {
    height: 70px;
    font-size: 23px;
    background: rgb(247, 110, 31);
    background: linear-gradient(90deg, rgba(247, 110, 31, 1) 0%, rgba(247, 110, 31, 1) 37%, rgba(252, 234, 46, 1) 62%, rgba(252, 234, 46, 1) 100%);
}

.col-sm-6 {
    padding-top: 5rem;
}

.voting {
    width: 60px;
    background: none;
    border: none;
    font-size: 25px;
    color: blueviolet;
    pointer-events: none;
}